@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* * {
    box-sizing: border-box;
} */

.progressKept {
    background-color: #f4f4f4;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: auto 0;
    padding: 20px;
    overflow: hidden;
}

.progress {
    background-color: #d8d8d8;
    border-radius: 20px;
    position: relative;
    height: 40px;
}

.progress-done {
    background: linear-gradient(to left, #F2709C, #FF9472);
    box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
   
    transition: 1.5s ease-in-out 0.3s;
}

/* 
.inlineStyle {
    display: flex;
    justify-content: space-between;
} */

h5 {
    color: #fff;
}

@media screen and (max-width: 480px) {
    .progress {
        width: 90%;
        margin: 10px;
        background-color: #d8d8d8;
        border-radius: 50px;
        position: relative;
        height: 40px;
    }
    .inlineStyle {
        width: 90%;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 20px;
    }
}

@media screen and (min-width: 780px) {
    .progress {
        width: 90%;
        margin: 10px;
        background-color: #d8d8d8;
        border-radius: 50px;
        position: relative;
        height: 40px;
    }
    .inlineStyle {
        width: 90%;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 20px;
    }
}