.aboutme {
    background-color: #000000;
    /* border: 10px solid teal; */
    height: 100%;
    position: relative;
    width: 100%;
    color: var(--bg--dark);
    padding: 0px!important;
    margin: 0px!important;
    /* background-image: url('../../../Images/download.png'); */
    /* background-repeat: no-repeat;
    background-size: 100% 100%; */
}
.middleMainAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
    margin: 0 auto;
}
