.text-app {
    /* z-index: 0; */
    color: #fff;
    position: relative;
    /* max-width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    top:10%;
    /* overflow: hidden; */
    /* transform: translateY(60%); */
}
